.bg_gradient{
	position: relative;
	width:100%;
	height:300px;
	background:	-webkit-linear-gradient(bottom,#4FC4F0,#E7EAEA,#FFFFFF); 
}


footer{

	width: 1000px;
	height: 90%;
	bottom: 0%;
	left: 0;
	right: 0;
	margin:auto;
	font-size: 35px;
	top: 20px;
	position: relative;
}

.footer_top_container{
    padding-left: 10px;
	background-color:white;
	border-style: solid;
	border-width: 1px;
	border-color: #ADB0B1;
	border-radius: 5px 5px;
	width: 99%;
	height: 24%;
	top: 30px;
	left: 0;
	right: 0;
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;

}

footer img:hover{
 cursor: pointer;
}


.footer_down_container{
   
	

	width: 99%;
	height: 70%;
	left: 0;
	right: 0;
	margin: auto;
	

}

.footer_down_container div{
height: 90%;
width: 12%;

position: relative;
display: inline-block;
margin: 10px;
overflow: hidden;

}

.footer_down_container div li{
	font-size: 5px;

	list-style: none;
	margin: 5%;
}

.footer_down_container div li:hover{
	cursor: pointer;
}

.footer_down_container div>li:first-child{
	font-size: 14px;
	font-weight: bolder;
	font-color:#0986BF;
}

