.bg_img{
	width:100%;
	height:1000px;
	background-position:top; 
	background-image: url(../source/bg_body.jpg) ;
	position: relative;
	left:0px;
	right:0px;
	margin:auto;
}




.container{
	width:1000px;
	height:1300px;
	
	position: relative;
	left:0;
	right:0;
	margin:auto;
}



.slidshow{
	height:250px;
	width: 100%;
	
	position: relative;
	color:white;
	margin-top: 10px;
}

.slidshow div{
	width:1000px;
	height:250px;
	position: relative;
}

.slidshow div img{

	height: 250px;
	width: 1000px;
}

.slidshow div img:hover{
	cursor: pointer;
}


.server_center{
	height:200px;
	width: 100%;
	position: relative;

}
.server_center h2{
	text-indent: 10px;
}

.server_center h2:hover{
	cursor: pointer;
}

.flex_container{
	height:50%;
	width:100%;
	position: relative;
	display: flex;
	justify-content:center;
	align-items: center;

}


.flex_container div{
	width: 20%;
	height: 80%;
	border-radius: 10px;
	margin:10px;
	position: relative;

}


.zysf{
position: relative;
left: 10px;

}

.main_area{
	width:100%;
	height: 1000px;
	position: relative;

	display: flex;
	justify-content:center;
	align-items: center;

}

.left_area{
	width:30%;
	height: 100%;


}

.middle_area{
	position: relative;
	width:40%;
	height: 100%;
	background-color: #FBFBDD;

	color: red;
}

.right_area{


	width:30%;
	height: 100%;

}


.lunbotu2{
	width: 100%;
	height: 120px;

	font-size: 30px;
	position: relative;

}
.lunbotu2 div{
	width: 100%;
	height: 100%;
	position: relative;
}

.lunbotu2 div img{
height: 100%;
}

.xiala_antd{
	width: 100%;
	height: 400px;

	position: relative;

}

.xiala_antd a{
	color: #B2B2B2;
}

.xiala_antd a:hover{
	color: #64CCD4;
}




.right_page_area,#normal_img_link{
		width: 100%;
	height: 200px;
	font-size: 30px;
	position: relative;
}
.right_page_area h3,h6{
	text-align: center;
}

.right_page_area h3,h6:hover{
	cursor: pointer;
}



.normal_img_link{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5%;
	margin-top: 5%;
}

.normal_img_link img{
	width: 95%;
	margin:auto;
}


.normal_img_link img:hover{
	cursor: pointer;
}

.right_lunbo{
	width: 100%;
	height: 300px;

	font-size: 30px;
	position: relative;
}

.right_lunbo img{

	height: 300px;
	width: 300px;
}